#
# For more information see the manual pages of crontab(5) and cron(8)
#
# MIMS Sample crontab - daily, weekly, monthly jobs
# use right out of the box or modify to taste
# 
SHELL=/bin/bash
MAILTO=mims
PATH=/home/mims/bin:/home/mims/.local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

REPORTHOME=/home/mims/work/WING/Reports
MIMSHOME=/home/mims/work/WING/MIMS
WINGHOME=/home/mims/work/WING
CODEREDHOME=/home/mims/work/WING/CodeRed

# M H  DOM MON DOW   command
# Run jobexec to process MIMS batch files
0 3 * * * cd $WINGHOME;./jobexec
# Download CAPWATCH
0 0 * * * cd $WINGHOME;./capwatch2.py -v
# Download and import Google accounts
0 0 * * * cd $WINGHOME;./importGoogle -Du
# Extract and filter CAPWATCH and import tables
30 0 * * * cd $WINGHOME;./getTables;./importTables -u;/bin/rm -f $WINGHOME/downloads/WING.zip
# Create MIMS batch job files for Google account update
0 6 * * 5 cd $WINGHOME;./MIMSJobsGen
# Import all Wing Google groups
0 2 * * * echo "Importing Groups";cd $WINGHOME;./importGroups -D
# Gen commanders mailing list
0 5 * * * echo Mailing list Gen;cd $REPORTHOME;./Mailing-List-Gen
# Weekly New Member report
05 5 * * 7 echo Weekly New Member Report;cd $REPORTHOME;./New-Members-Report-Gen;echo Done.
# Monthly expiration reports
10 5 1 * * echo Monthly Expiration Reports;cd $REPORTHOME;./Expiration-Report-Gen;echo Done.
# Monthly ES OPS Quals Report
0 17 15 * * cd $CODEREDHOME;./allOPSQuals
