<div dir=3D"ltr">Dear #givenname#:
</div>
<div>
<p>
Welcome #givenname# #familyname# to your new NH Wing email account. An
account has been created for you because you are listed in the CAP
National database as a member of the NH Wing, Civil Air Patrol.
</p>
<p>
Your new NH Wing email account is: #user#<br/>
Your temporary password is: #password#<br/>
You will be prompted to change your password when you login to your account.
</p>
<p>
This account will allow you to receive messages and notifications
from NH Wing, as well as access the user portal at <a href="https://nhwg.cap.gov">nhwg.cap.gov</a>
You may start using your account by signing in at:
https://www.google.com/accounts/AccountChooser?Email=#user#&continue=https://apps.google.com/user/hub
</p>
<p>
If you prefer to use OutLook, Thunderbird or a different email client please use the following link for instructions on setting up your client.
</p>
<p>
https://support.google.com/mail/answer/7126229?authuser=1&visit_id=1-636469171631663641-2012628328&hl=en&rd=1
</p>
<p>
<center><b>Warning Legal Stuff</b></center>
This email account is provided to you strictly for the purposes of
conducting NH Wing and Civil Air Patrol business per the provisions of
CAPR 120-1 (October 2017).  All sections apply but in particular you
should familiarize yourself with sections: 5 - Acceptable Use,
6 - Unacceptable Use, and 12 - Email Policy.
</p>
<p>
Welcome to NH Wing, Civil Air Patrol.
</p>
<p>
If you have any problems or questions send an email to: <a href="mailto:support@nhwg.cap.gov">support@nhwg.cap.gov</a>
</p>
</div>
--
<div>
<div><img
  src="https://ci3.googleusercontent.com/proxy/kcyarr8xpj06Y3Pc8Pyjh3V95AaSV55uUIWnSH3wf479S8gmcrtzyGIWydq43MxxMSk_PHspY_bAPSmux1EndaEsa5Nczzq02FAiiuFVO1RoUa740LFRsn5UZ5_BAGPp=s0-d-e1-ft#https://docs.google.com/uc?id=0BwzOoam_7OpWQlJVQUxlQUdMQ1U&export=download">
</div>
<div> <font color="#0b5394" size="2"><b>Capt Marshall E. Giguere,
  CAP</b></font>
</div>
<div style="font-size:12.8px"><font color="#999999" size="2">NH Wing
  Assistant Director of IT/Nashua Information Technology
  Officer</font>
</div>
(C/H) 978.842.1547<br></font></div>
<div style="font-size:12.8px"><font size="2" color="#0b5394"><b>U.S. Air Force
  Auxiliary</b></font>
</div>
<div style="font-size:12.8px"><font color="#999999" size="2"><a
  href="mailto:mgiguere@nhwg.cap.gov"
  target="_blank">mgiguere@nhwg.cap.gov</a><br></font>
</div>
  <div style="font-size:12.8px"><a href="http://www.gocivilairpatrol.com/"
  target="_blank">GoCivilAirPatrol.com</a><br>
  </div>
  <div style="font-size:12.8px"><a
  href="https://www.facebook.com/pages/Civil-Air-Patrol/107647995924164"
  target="_blank"><img
  src="https://ci6.googleusercontent.com/proxy/qMl5M1ArUMX__mGk7UguDb70tSpi3XSe7s6byZGZYWYnUbDjdWMrpY9ylyBlMs5Ofmxt5rNKqbICYFdMo0PjH9AE_Z0gikQ5zziG8POzLPl-x3SwSY8JgHXGAO84RZI4=s0-d-e1-ft#https://docs.google.com/uc?id=0BwzOoam_7OpWQ0JYRVNpR1FpR00&export=download"></a><a
  href="http://instagram.com/civil__air__patrol" target="_blank"><img
  src="https://ci4.googleusercontent.com/proxy/KhOgF5hzG9Eb6q3FE3jb6A1YH7jMXjrp-D2em45Wy1oXr_d0fOCFv8b6jWwVuG8ippZycaX4iIJwcSseY1zsmFJwPejA9jb5_gMQ6HrE7PH_a4aUUP8RDrVuecLauugp=s0-d-e1-ft#https://docs.google.com/uc?id=0BwzOoam_7OpWdXFuRjU0YTFVRkU&export=download"></a><a
  href="https://twitter.com/civilairpatrol" target="_blank"><img
  src="https://ci6.googleusercontent.com/proxy/EYb9o4GUiuK43nUNk0t4BDths88MazJOZ8ZQATYxhecbn9rVhHhMyARnR8X_S5q8HpUOzpwxH7aIgafBs9K5ADsvPwTfOphzMjmuoo44u4GBFsk2T27Qg5je51o7-3FM=s0-d-e1-ft#https://docs.google.com/uc?id=0BwzOoam_7OpWa2pVTG1xRmZsSXc&export=download"
  style="font-size:12.8px"></a><a
  href="https://www.flickr.com/photos/civilairpatrol/sets/"
  target="_blank"><img
  src="https://ci6.googleusercontent.com/proxy/eWGRawfPhWxfxLkcfnK5EKhF-5X8stE21jtLPcTKIQ-TGuZY60EENbeLdvGIjtGFnww7-Ndxx_OEL2Xs4Z4x5UGqtVvbr8lU-Zjpf7FtRpcgRAJdkiQSfR_tG6ZHtsRq=s0-d-e1-ft#https://docs.google.com/uc?id=0BwzOoam_7OpWQ2V0ME1EUlNiRDA&export=download"
  style="font-size:12.8px"></a>
  </div>
