<div id="body">Dear Commander, Deputy, Personnel, Recruiting Officers:<br/>
</div>
<div>
<p>
  The attached automated report is wing wide containing members that have
  joined within the previous week.  The report is provided as a
  spreadsheet file, so you may use it to populate squadron mailing
  lists or for other tasks.  The report is sorted by squadron and
  member's last name.
</p>
<p>
  The reports are provided to all Commanders and Personnel, Recruiting
  and Retentions Officers in order to give a view into the total
  membership trends for the entire wing.
</p>

</div>
--
<div id="signature_block">
<div><img
  src="https://ci3.googleusercontent.com/proxy/kcyarr8xpj06Y3Pc8Pyjh3V95AaSV55uUIWnSH3wf479S8gmcrtzyGIWydq43MxxMSk_PHspY_bAPSmux1EndaEsa5Nczzq02FAiiuFVO1RoUa740LFRsn5UZ5_BAGPp=s0-d-e1-ft#https://docs.google.com/uc?id=0BwzOoam_7OpWQlJVQUxlQUdMQ1U&export=download">
</div>
<div> <font color="#0b5394" size="2"><b>Capt Marshall E. Giguere,
  CAP</b></font>
</div>
<div style="font-size:12.8px"><font color="#999999" size="2">NH Wing
  Director of IT/Nashua Information Technology
  Officer</font>
</div>
(C/H) 978.842.1547<br></font></div>
<div style="font-size:12.8px"><font size="2" color="#0b5394"><b>U.S. Air Force
  Auxiliary</b></font>
</div>
<div style="font-size:12.8px"><font color="#999999" size="2"><a
  href="mailto:mgiguere@nhwg.cap.gov"
  target="_blank">mgiguere@nhwg.cap.gov</a><br></font>
</div>
  <div style="font-size:12.8px"><a href="http://www.gocivilairpatrol.com/"
  target="_blank">GoCivilAirPatrol.com</a><br>
  </div>
  <div style="font-size:12.8px"><a
  href="https://www.facebook.com/pages/Civil-Air-Patrol/107647995924164"
  target="_blank"><img
  src="https://ci6.googleusercontent.com/proxy/qMl5M1ArUMX__mGk7UguDb70tSpi3XSe7s6byZGZYWYnUbDjdWMrpY9ylyBlMs5Ofmxt5rNKqbICYFdMo0PjH9AE_Z0gikQ5zziG8POzLPl-x3SwSY8JgHXGAO84RZI4=s0-d-e1-ft#https://docs.google.com/uc?id=0BwzOoam_7OpWQ0JYRVNpR1FpR00&export=download"></a><a
  href="http://instagram.com/civil__air__patrol" target="_blank"><img
  src="https://ci4.googleusercontent.com/proxy/KhOgF5hzG9Eb6q3FE3jb6A1YH7jMXjrp-D2em45Wy1oXr_d0fOCFv8b6jWwVuG8ippZycaX4iIJwcSseY1zsmFJwPejA9jb5_gMQ6HrE7PH_a4aUUP8RDrVuecLauugp=s0-d-e1-ft#https://docs.google.com/uc?id=0BwzOoam_7OpWdXFuRjU0YTFVRkU&export=download"></a><a
  href="https://twitter.com/civilairpatrol" target="_blank"><img
  src="https://ci6.googleusercontent.com/proxy/EYb9o4GUiuK43nUNk0t4BDths88MazJOZ8ZQATYxhecbn9rVhHhMyARnR8X_S5q8HpUOzpwxH7aIgafBs9K5ADsvPwTfOphzMjmuoo44u4GBFsk2T27Qg5je51o7-3FM=s0-d-e1-ft#https://docs.google.com/uc?id=0BwzOoam_7OpWa2pVTG1xRmZsSXc&export=download"
  style="font-size:12.8px"></a><a
  href="https://www.flickr.com/photos/civilairpatrol/sets/"
  target="_blank"><img
  src="https://ci6.googleusercontent.com/proxy/eWGRawfPhWxfxLkcfnK5EKhF-5X8stE21jtLPcTKIQ-TGuZY60EENbeLdvGIjtGFnww7-Ndxx_OEL2Xs4Z4x5UGqtVvbr8lU-Zjpf7FtRpcgRAJdkiQSfR_tG6ZHtsRq=s0-d-e1-ft#https://docs.google.com/uc?id=0BwzOoam_7OpWQ2V0ME1EUlNiRDA&export=download"
  style="font-size:12.8px"></a>
  </div>
