{
  "mims":
  {
    "user": "",
    "password": ""
  },
  
  "importer":
  {
    "user": "",
    "password": ""
  },

  "groupmanager":
  {
    "user": "groupMgr",
    "password": ""
  },

  "reporter":
  {
    "user": "",
    "password": ""
  },

  "codered":
  {
    "user": "",
    "password": ""
  }
}
